{% extends 'block.html' %}
{% load staticfiles %}
{% block content %}
<div class="ui text container">
    <br>
    <h2 class="ui dividing header">{{ title }}</h2>
    <form method="post" action="/studyroom/check">
    {% csrf_token %}
    <div class=""style="padding-top:10px;">
        <br>
        <div class="ui input">
            <input name="sid" type="text" placeholder="Student ID">
        </div>
        <div class="ui input">
            <input name="name" type="text" placeholder="Name">
        </div>
    </div>
    <br>
    <button id="submit-btn" type="submit" class="ui primary button"> Submit </button>
    </form>
</div>
{% endblock %}
