{% extends 'block.html' %}
{% load staticfiles %}
{% block content %}
<div>
    <h1>{{ name }}</h1>
    {% for day in table %}
        <h3>{{ day.name }}</h3><br>
        <table id="reservation_time" style="width:1000px">
            <thead>
            <tr>
                <td colspan="1">00</td>
                <td colspan="1">01</td>
                <td colspan="1">02</td>
                <td colspan="1">03</td>
                <td colspan="1">04</td>
                <td colspan="1">05</td>
                <td colspan="1">06</td>
                <td colspan="1">07</td>
                <td colspan="1">08</td>
                <td colspan="1">09</td>
                <td colspan="1">10</td>
                <td colspan="1">11</td>
                <td colspan="1">12</td>
                <td colspan="1">13</td>
                <td colspan="1">14</td>
                <td colspan="1">15</td>
                <td colspan="1">16</td>
                <td colspan="1">17</td>
                <td colspan="1">18</td>
                <td colspan="1">19</td>
                <td colspan="1">20</td>
                <td colspan="1">21</td>
                <td colspan="1">22</td>
                <td colspan="1">23</td>
            </tr>
            </thead>
            <tbody id="reservation_time_block">
            <tr>
                {% for h in day.heatmap %}
                    <td class="{% if h %}unavailable{% else %}reserved{% endif %}" style="user-select: none;">&nbsp;</td>
                {% endfor %}
            </tr></tbody></table>
    {% endfor %}
</div>
{% endblock %}