{% extends 'block.html' %}
{% load staticfiles %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static "css/reserve.css" %}">
</head>
<div class="container">
  <div class="ui top attached tabular menu">
    <a class="{% if var == 'sroom1' %} active {% else %} inactive {% endif %} item" href="/studyroom/sroom1">
      Study room 1
    </a>
    <a class="{% if var == 'sroom2' %} active {% else %} inactive {% endif %} item" href="/studyroom/sroom2">
      Study room 2
    </a>
  </div>
  <div class="ui bottom attached segment">
    <form method="post" action="/studyroom/{{ var }}">
    {% csrf_token %}
    <br>
    <div class="ui raised very padded text segment" id="confirm-box">
        <h2 class="ui floated header">
            Study Room Rules
        </h2>
        <div class="ui clearing divider"></div>
        <p>1. 스터디룸 이용 규칙은 기본적으로 LG Software Lab 이용 규칙을 따릅니다.<br>
            Study room rules are based on LG Software Lab rules.</p>
        <p>2. 스터디룸을 이용 후에는 뒷정리를 철저히 합니다.
            (예: 마커와 지우개 원위치, 냉난방기 끄기, 의자 정렬하기) <br>
            Make the study room clean after use.
            (e.g: Placing markers and erasers at original place, turn off air conditioner, arrange the chairs etc.)</p>
        <p>3. ECE 학생회에서 LG Software Lab 스터디룸 관리를 위하여, 위 수칙 위반시에 예약자 확인 후 스터디룸 이용이 제한될 수 있습니다.<br>
            If rules are violated, ECE student council could restrict the use of study rooms.</p>
        <br>
        <div class="actions">
            <div class="ui black deny button" id="close-confirm-btn">
                Cancel
            </div>
            <button type="submit" class="ui positive right labeled icon button">
                Agree and reserve
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>

    {% for day in table %}
        <div>
            <!-- <div class="ui blue basic button">{{ day.name }}</div> -->
            <div class="ui tag label">{{ day.name }}</div>
            <!-- <a class="ui label">{{ day.name }}</a> -->
            <table id="reservation_time">
                <thead>
                <tr>
                    <td class="time-number" colspan="1">00</td>
                    <td class="time-number" colspan="1">01</td>
                    <td class="time-number" colspan="1">02</td>
                    <td class="time-number" colspan="1">03</td>
                    <td class="time-number" colspan="1">04</td>
                    <td class="time-number" colspan="1">05</td>
                    <td class="time-number" colspan="1">06</td>
                    <td class="time-number" colspan="1">07</td>
                    <td class="time-number" colspan="1">08</td>
                    <td class="time-number" colspan="1">09</td>
                    <td class="time-number" colspan="1">10</td>
                    <td class="time-number" colspan="1">11</td>
                    <td class="time-number" colspan="1">12</td>
                    <td class="time-number" colspan="1">13</td>
                    <td class="time-number" colspan="1">14</td>
                    <td class="time-number" colspan="1">15</td>
                    <td class="time-number" colspan="1">16</td>
                    <td class="time-number" colspan="1">17</td>
                    <td class="time-number" colspan="1">18</td>
                    <td class="time-number" colspan="1">19</td>
                    <td class="time-number" colspan="1">20</td>
                    <td class="time-number" colspan="1">21</td>
                    <td class="time-number" colspan="1">22</td>
                    <td class="time-number" colspan="1">23</td>
                </tr>
                </thead>
                <tbody id="reservation_time_block">
                    <tr>
                        {% for h in day.heatmap %}
                            <td name="{{ day.name }}-{{ h.id }}" class="{% if h.check %}unavailable{% else %}reserved{% endif %} time-block" style="user-select: none;"> </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    {% endfor %}

    <div>
        <div class="help-item">
            <div class="help-block available"></div>
            <div class="help-text">Available</div>
        </div>
        <div class="help-item">
            <div class="help-block unavailable"></div>
            <div class="help-text">Unavailable</div>
        </div>
        <div class="help-item">
            <div class="help-block selected"></div>
            <div class="help-text">Your Reservation</div>
        </div>
    </div>
    <br><br>

    <div style="padding-top:10px; padding-left: 10px;">
        <div>
            <div class="ui input">
                <input name="sid" type="text" placeholder="Student ID">
            </div>
            <div class="ui input">
                <input name="name" type="text" placeholder="Name">
           </div>
        </div>
        <br>
        <div>
            <div class="ui input">
                <input name="sid" type="text" placeholder="Student ID">
            </div>
            <div class="ui input">
                <input name="name" type="text" placeholder="Name">
           </div>
        </div>
        <br>
        <div>
            <div class="ui input">
                <input name="sid" type="text" placeholder="Student ID">
            </div>
            <div class="ui input">
                <input name="name" type="text" placeholder="Name">
           </div>
        </div>
        <br><br>
        <a id="reserve-btn" class="primary ui button"> Reserve </a>
        <br>
    </div>
    <br>
    </form>
  </div>
</div>

{% endblock %}
