
#logo-main {
  display: block;
  margin: 0 auto;
  padding-top: 3vh;
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;

}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: comic sans;
  font-stretch: expanded;
  letter-spacing: 2px;
}
.listnum {
    float: right;
}
#main {
  margin-left: 200px;
  margin-right: 200px;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}


header {
  background-color: #0088ff;
}
