
#logo-main {
  display: block;
  margin: 0 auto;
  padding-top: 4vh;
  padding-bottom: 3vh;
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;

}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  font-family: comic sans;
  font-stretch: expanded;
  letter-spacing: 2px;
}


.listnum {
    float: right;
}
#main {
  margin-left: 200px;
  margin-right: 200px;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

header {
  background-color: #0088ff;
}

table {
  border-collapse: separate;
  border-radius: 3px;
  border-spacing: 0;
  width: 100%;
}
table tbody {
  background-color: #F2F2F0;
}
table tbody tr:first-child td {
  border-top: 1px solid #d8d8d8;
}
table tbody tr:nth-child(even) {
  background-color: #F8F8F7;
}
table thead th {
  border-bottom: 0px;
  padding: 0.75em 1em;
  text-align: left;
}
table thead th:first-child {
  border-left: none;
}
table tbody {
  background-color: #fcfcfc;
}
table tbody td {
  padding: 0.75em 1em;
}
table tbody td:first-child {
  border-left: none;
}
table tbody td .education_list_div,
table tbody td .satisfaction_div {
  margin: 0 auto;
}
table tbody td .education_list_div a,
table tbody td .satisfaction_div a {
  font-family: sans-serif;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 3px 20px;
  background-color: #595959;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0;
  border: none;
  cursor: pointer;
  margin: 0;
  margin-right: 6px;
  color: #ffffff;
  background-color: #f67849;
  border: 2px solid #f67849;
  margin-right: 0;
  display: block;
}
table tbody td .education_list_div a::-moz-focus-inner,
table tbody td .satisfaction_div a::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table tbody td .education_list_div a:hover, table tbody td .education_list_div a:active,
table tbody td .satisfaction_div a:hover,
table tbody td .satisfaction_div a:active {
  color: #ffffff;
  background-color: #f56631;
  border-color: #f45b22;
}
table tbody td .education_list_div a:active,
table tbody td .satisfaction_div a:active {
  color: #ffffff;
  background-color: #f45b22;
  border-color: #f34d0f;
  box-shadow: inset 2px 2px 2px 1px rgba(243, 77, 15, 0.5);
}
table tbody td a.db_education_title .db_education_div {
  display: inline-block;
}
table tbody td a.db_education_file_img {
  position: relative;
  top: 2px;
  left: 5px;
}
table tbody td button {
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.5;
  margin-bottom: 0.3em;
  margin-right: 0.5em;
  outline: none;
  padding: 0.3em 1em;
  width: 100%;
}

#edit-select-datetime #edit-time-table table#reservation_time thead tr td {
  background-color: #f0f0f0;
  padding: 13px 5px;
  border-right: 1px solid #ffffff;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: inherit;
}

#edit-select-datetime #edit-time-table table#reservation_time thead tr td {
  background-color: #f0f0f0;
  padding: 13px 5px;
  border-right: 1px solid #ffffff;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}
#edit-select-datetime #edit-time-table table#reservation_time tbody tr td {
  padding: 12px 10px;
  border-right: 1px solid #ffffff;
  cursor: pointer;
}
td.selected {
  background-color: #0088ff;
}
td.unavailable {
  background-color: #595959;
}
td.reserved {
  background-color: #d8d8d8;
}
td.reserved_nclk {
  background-color: #d8d8d8;
}
td.selected_nclk {
  background-color: #0088ff;
}
td.unavailable_nclk {
  background-color: #595959;
}

table tbody tr:first-child td {
  border-top: 1px solid #d8d8d8;
}

.help-item {
  display: inline-block;
  margin-right:10px;
}
.help-item .help-block {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
}
.help-item .help-text {
  display: inline-block;
}
.help-item .available {
  background-color: #d8d8d8;
}
.help-item .unavailable {
  background-color: #595959;
}
.help-item .selected {
  background-color: #0088ff;
}

.footer-container {
  width: 100%;
  background-color: grey;
  height: 20vh;
  color : white;
  text-align: center;
  margin-top: 30vh;
  padding-top: 3vh;
}

#footer-logo {
    display: inline-block;
    width: 8%;
    padding-bottom: 2vh;
}


.white{
  color: white !important;
  font-family: comic sans;
  font-stretch: expanded;
  letter-spacing: 2px;
}

.ui.dropdown{
  padding: 0 2vw;
}


.menu > .item > a {
  color: grey !important;
}

.thumbnail-wrappper {
    width: 25%;
}

.thumbnail {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    height:145px;
    width:175px;
}

.thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%); }

.thumbnail .centered img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
