{% extends 'block.html' %}
{% load staticfiles %}
{% block content %}

{#    font-family: TimeNewRoman#}
    <div class="ui text justified container">
        <br>
        <h2 class="ui dividing header">About AROUND</h2>
        <div style="text-align: center;">
            <br>
            <h2 style="font-family: 'Nanum Brush Script', cursive; font-size: 4em;">학생회장  김택수</h2>
            <h2 style="font-family: 'Nanum Brush Script', cursive; font-size: 3em;">부학생회장  이유진</h2>
        </div>
        <br><br>
        <div style="font-family: 'Nanum Myeongjo', serif;">
            <p>안녕하십니까, 전기전자컴퓨터공학부 선거캠프 ROUTE로 출마하여 당선된 학생회장단 김택수, 이유진입니다. 오늘부로 2018년 새해가 시작되었습니다! 새해를 맞으며 학부생분들에게 새로운 학생회 출범을 알리고자 이렇게 글을 전합니다. 저희가 선거캠프를 출마하면서 내세운 ROUTE는 학부 학생회와 학생, 교수님과의 소통의 길이 되겠다는 저희의 포부를 담고 있습니다.</p>
            <p>우리 전기전자컴퓨터공학부 학생회는 2017년에 LG랩 개방과 함께 AROUND라는 이름으로 시작하였습니다. 저희는 그 뒤를 이어, AROUND라는 이름을 계승하며, “Always being communicated”라는 슬로건으로 여러분들과 소통을 목표로 하고자 합니다. 전대 학생회의 여러 연례행사들은 이어가고, 부족한 점들을 메워 좀더 탄탄한 행사들로 준비 중에 있습니다. 여러 분들의 학생사회에 대한 관심에 감사를 표하며, 저희 학생회는 이러한 다양한 행사와 사업들로 그 기대에 부응하고자 합니다.</p>
            <p>저희는 다양한 연례행사 개최 등에 있어 학부생들의 의견과 건의를 고려하여, 소통이라는 타이틀에 맞게, 더 많은 새로운 것들을 준비 중에 있습니다. 그 예로, 학생회 홈페이지 개설을 준비 중에 있습니다. Facebook으로 고정된 안내공지 대신 홈페이지를 통해 안내함으로써 접근성을 높이려 합니다. 또한, LG랩 스터디룸 역시 홈페이지를 통한 예약제로 관리하여 사석화 문제를 해결할 예정입니다. 그리고 현재 학부에서 가장 큰 문제인 수강신청 문제를 해소하고자 합니다. 이번 강의여석 결정회의에 참여하여, 현 문제점과 해결점에 대해 강력하게 주장할 예정이며, 이를 통해 학우 여러분들의 문제를 해결하고자 합니다. 더 자세한 학생회 총 계획은 곧 카드뉴스와 함께 업로드 될 예정입니다.</p>
            <p>1년간 격려와 함께 지켜봐주시길 바라며, 만족스러운 학생회의 모습으로 찾아 뵙겠습니다.<br>감사합니다.</p>
            <p style="text-align: right">전기전자컴퓨터공학부 학생회장 김택수, 부학생회장 이유진 올림.</p>

            <br><br>

            <p>Hello, this is TaekSoo Kim and YuJin Lee, ECE student council who ran for the election camp named ROUTE. Happy New Year! Celebrating the New Year, we are writing to let students know that we are launching a new student council. ROUTE, as we ran for the election camp, contains our aspirations to communicate with students and professors.</p>
            <p>We, ECE student council, started in 2017 with the opening of LG Lab in the name AROUND. We follow the name AROUND and aim to communicate with you with the slogan “Always being communicated”. Various annual events from the previous student council continue, and we are preparing for better events to fill the shortcomings. Thank you for your interest in the student society, and we would like to respond to your expectations with these various events and projects.</p>
            <p>We are preparing a lot more things to communicate, considering the opinions and recommendations of students. We are preparing to open a student council homepage. Instead of fixed way of announcements on Facebook, we're going to make more accessible by guiding you through the homepage. LG Lab study room will also be managed by reservation system through the website to solve the problem of monopolization. Also, we are going to solve a course registration problem which is the biggest problem in ECE. We will participate in the class decision conference to strongly argue about the current problems and solutions, and we hope this will solve the problem. More detailed student council total plans will soon be uploaded with card news.</p>
            <p>We hope you to encourage us for a year and we will make an effort to meet your satisfaction.</p>
            <p style="text-align: right">
                Best regards,<br>
                ECE student council president TaekSoo Kim, vice-president YuJin Lee.
            </p>
        </div>
    </div>

{% endblock %}