{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static "css/block.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
</head>
<body>
<header role="banner">
    <a href="/home">
        <img id="logo-main" src="{% static "logo/main3.png" %}" width="200px" alt="Logo Thing main logo">
    </a>
    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-elm"><a href="/about/">About</a></li>

                    <li class="nav-elm">
                        <div class="ui pointing dropdown link item">
                          <span class="text white">Notice</span>
                          <i class="dropdown icon white"></i>

                          <div class="menu">
                            <div class="item"><a href="/announcement/"><div>Announcement</div></a></div>
                            <div class="item"><a href="/event/"><div>Event</div></a></div>
                          </div>
                        </div>

                    </li>

                    <li class="nav-elm">
                        <div class="ui pointing dropdown link item">
                          <span class="text white">Study Rooms</span>
                          <i class="dropdown icon white"></i>

                          <div class="menu">
                              <div class="item"><a href="/studyroom/sroom1/"><div>Study room 1</div></a></div>
                              <div class="item"><a href="/studyroom/sroom2/"><div>Study room 2</div></a></div>
                              <div class="item"><a href="/studyroom/check/"><div>Reservation check</div></a></div>
                          </div>
                        </div>

                    </li>
                    <li class="nav-elm"><a href="#">Group Study</a></li>
                    <li class="nav-elm"><a href="#">Ask</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header><!-- header role="banner" -->

    {% block content %}
    {% endblock %}

<footer class="footer-container">
  <img id="footer-logo" src="{% static "logo/main3.png" %}">
  <p>Contact : eceunist@gmail.comㅤㅤㅤ　　Location : 106 305-3 <br>
  Developers : TaekSoo Kim | YeonJun Kim | Jin Yang <br>
  Version : ver 0.0</p>
  <!-- <p class="float-right"><a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Back to top</a></p>
  <p>© 2017 Company, Inc. · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Terms</a></p> -->
</footer>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "javascript/reserve.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/check.js" %}"></script>
<script>
    

    $('.ui.dropdown')
      .dropdown()
    ;

    $('.dropdown')
      .dropdown({
        action: 'hide'
      })
    ;



    // function underlineNav(){
    //   var reserveBtn = document.getElementById("reserve-btn");
    //   var confirmBox = document.getElementById("confirm-box");
    //   reserveBtn.addEventListener("click", function(){
    //       confirmBox.style.display = 'block';
    //   }, false);
    //
    // }
    //
    //
    // openConfirmBox();
</script>
</body>
</html>
