{% extends 'block.html' %}
{% load staticfiles %}
{% block content %}
    <div class="ui container" style="padding-top: 100px;">
    <h1 class="ui dividing header">{{ title }}</h1>
    <div class="ui items">
        {% for post in recent %}
            <div class="item">
                <div class="thumbnail-wrapper" style="margin-right: 40px;">
                    <div class="thumbnail">
                        <div class="centered">
                            {% if post.img_path != "" %}
                                <img src="{% static post.img_path %}" height="145" width="175" style="max-width: 100%; height: auto;">
                            {% else %}
                                <img src="{% static "img/test.png" %}">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content" style="margin-top: 20px;">
                    <a href="{{ link }}/{{ post.id }}" class="header">{{ post.title }}</a>
                    <div class="meta">
                        <span>{{ post.content }}</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                    <div class="extra">
                        {{ post.author }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="ui pagination menu listnum">
        {% for item in order %}
            {% if lo == item %}
                <a class="active item">{{ item }}</a>
            {% elif "..." == item %}
                <div class="disabled item">...</div>
            {% else %}
                <a class="item" href="{{ link }}?lo={{ item }}">{{ item }}</a>
            {% endif %}
        {% endfor %}
    </div>
    </div>
{% endblock %}

